<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="VijayaHMSConnectionString" connectionString="Data Source=DESKTOP-IQ38AT5;Initial Catalog=VijayaHMS;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
